h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.8rem;
  font-weight:300;
}

.projectscontainer {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  
}

.projects {
  width: 300px;
  height: 400px;
  background-color: #333334;
  border: 0 solid transparent;
  border-radius: 20px;
  margin: 0;
  font-size: 1.5rem;
  padding: 70px 0;
}

.projects:hover {
  transform: scale(1.1);
  transition: 1s ease;
  background-color: #ffc971;
  color: #1F5183;
}

