* {
  box-sizing: border-box;
}
html {
  background-color: #272626;
}

#root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color: #e7e8ec;
  background-color: #272626;
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

h3 {
  color:#ffc971;
}

.navbar {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.navbar .links {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

a {
  text-decoration: none;
  padding: 0 20px;
  color: #949c9c;
  font-size: 1.5rem;
  cursor: pointer;
}

a:hover {
  color: #e7e8ec;
  transform: scale(1.2);
  transition: 1s ease;
}

.backToUp {
  position: fixed;
  bottom: 50px;
  right: 70px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.backToUp:hover {
  background-color: #ffc971;
}

.backToUp:active {
  background-color: #ffc971;
}



